div.slider {
  width: 100%;
  background-color: whitesmoke;
  border-top: 1px solid #2b2b2b;
  padding-top: 2%; }
  div.slider div.slide {
    width: 100%;
    height: 40px;
    position: relative;
    margin-top: -2%;
    background-color: #e9d69f; }
    div.slider div.slide > h2 {
      padding: 15px 15px 15px 60px;
      width: 25%;
      height: 100px;
      background-color: #ea3535;
      color: white;
      font-weight: normal;
      font-family: yekan;
      font-size: 26px;
      position: absolute;
      top: calc(100% - 100px);
      left: 54%; }
      div.slider div.slide > h2 > span {
        display: block;
        font-size: 20px;
        font-weight: normal;
        font-family: iransans; }
  div.slider > div.slider-1 {
    width: 100%;
    position: relative; }
    div.slider > div.slider-1 > img {
      width: 100%; }
    div.slider > div.slider-1 > h3 {
      margin-top: 5%;
      padding: 2% 22% 0 22%;
      width: 100%;
      border-top: 1px solid #2b2b2b;
      color: red;
      font-family: yekan;
      font-weight: normal;
      font-size: 22px; }
    div.slider > div.slider-1 > p {
      margin-top: 1%;
      padding: 0 22% 1% 22%;
      width: 100%;
      color: gray;
      line-height: 35px;
      font-family: iransans;
      font-weight: normal;
      text-align: justify;
      font-size: 16px; }
    div.slider > div.slider-1 > a {
      display: inline-block;
      text-decoration: none;
      padding: 0 2% 0 2%;
      width: fit-content;
      background-color: whitesmoke;
      border: 1px solid #2b2b2b;
      border-radius: 8px;
      color: gray;
      line-height: 45px;
      font-family: iransans;
      font-weight: normal;
      text-align: justify;
      font-size: 16px; }
      div.slider > div.slider-1 > a:hover {
        background-color: #d62222;
        color: white; }
    div.slider > div.slider-1 > a:nth-of-type(1) {
      margin: 1% 22% 5% 0.1%; }
  div.slider > div.slider-2 {
    width: 100%;
    position: relative; }
    div.slider > div.slider-2 > img {
      width: 100%; }
    div.slider > div.slider-2 > h3 {
      margin-top: 5%;
      padding: 2% 22% 0 22%;
      width: 100%;
      border-top: 1px solid #2b2b2b;
      color: red;
      font-family: yekan;
      font-weight: normal;
      font-size: 22px; }
    div.slider > div.slider-2 > p {
      margin-top: 1%;
      padding: 0 22% 1% 22%;
      width: 100%;
      color: gray;
      line-height: 35px;
      font-family: iransans;
      font-weight: normal;
      text-align: justify;
      font-size: 16px; }
      div.slider > div.slider-2 > p > span {
        color: red; }
    div.slider > div.slider-2 > a {
      display: inline-block;
      text-decoration: none;
      padding: 0 2% 0 2%;
      width: fit-content;
      background-color: whitesmoke;
      border: 1px solid #2b2b2b;
      border-radius: 8px;
      color: gray;
      line-height: 45px;
      font-family: iransans;
      font-weight: normal;
      text-align: justify;
      font-size: 16px; }
      div.slider > div.slider-2 > a:hover {
        background-color: #d62222;
        color: white; }
    div.slider > div.slider-2 > a:nth-of-type(1) {
      margin: 1% 22% 5% 0.1%; }
  div.slider > div.slider-3 {
    width: 100%;
    position: relative; }
    div.slider > div.slider-3 > img {
      width: 100%; }
    div.slider > div.slider-3 > h3 {
      margin-top: 5%;
      padding: 2% 22% 0 22%;
      width: 100%;
      border-top: 1px solid #2b2b2b;
      color: red;
      font-family: yekan;
      font-weight: normal;
      font-size: 22px; }
    div.slider > div.slider-3 > p {
      margin-top: 1%;
      padding: 0 22% 1% 22%;
      width: 100%;
      color: gray;
      line-height: 35px;
      font-family: iransans;
      font-weight: normal;
      text-align: justify;
      font-size: 16px; }
      div.slider > div.slider-3 > p > span {
        color: red; }
    div.slider > div.slider-3 > a {
      display: inline-block;
      text-decoration: none;
      padding: 0 2% 0 2%;
      width: fit-content;
      background-color: whitesmoke;
      border: 1px solid #2b2b2b;
      border-radius: 8px;
      color: gray;
      line-height: 45px;
      font-family: iransans;
      font-weight: normal;
      text-align: justify;
      font-size: 16px; }
      div.slider > div.slider-3 > a:hover {
        background-color: #d62222;
        color: white; }
    div.slider > div.slider-3 > a:nth-of-type(1) {
      margin: 1% 22% 5% 0.1%; }
  div.slider > div.baner {
    width: 100%;
    height: 300px;
    background-image: url("../../../images/slider/baner.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; }
  div.slider > div.slider-4 {
    width: 100%;
    background-color: whitesmoke; }
    div.slider > div.slider-4 > div:nth-of-type(1) {
      width: 100%;
      padding: 2% 10% 3% 10%;
      background-color: whitesmoke; }
      div.slider > div.slider-4 > div:nth-of-type(1) > h2 {
        width: 100%;
        background-color: whitesmoke;
        color: red;
        font-family: yekan;
        font-weight: normal;
        font-size: 20px; }
        div.slider > div.slider-4 > div:nth-of-type(1) > h2 > span {
          font-size: 16px;
          font-family: iransans;
          font-weight: normal;
          color: gray; }
    div.slider > div.slider-4 > div:nth-of-type(2) {
      width: 100%;
      background-color: #cce3b0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center; }
      div.slider > div.slider-4 > div:nth-of-type(2) > div {
        width: 25%;
        padding: 0 0 5% 0;
        margin: 5% 0 5% 1%;
        background-color: whitesmoke; }
        div.slider > div.slider-4 > div:nth-of-type(2) > div > img {
          width: 100%; }
        div.slider > div.slider-4 > div:nth-of-type(2) > div > h2 {
          width: 90%;
          background-color: whitesmoke;
          color: red;
          font-family: yekan;
          font-weight: normal;
          font-size: 20px;
          padding: 2% 10% 2% 2%;
          margin: 1%; }
        div.slider > div.slider-4 > div:nth-of-type(2) > div > p {
          width: 90%;
          height: 150px;
          line-height: 25px;
          background-color: whitesmoke;
          color: gray;
          font-family: iransans;
          font-weight: normal;
          font-size: 15px;
          text-align: justify;
          padding: 2% 10% 2% 2%;
          margin: 2%; }
        div.slider > div.slider-4 > div:nth-of-type(2) > div > a {
          display: block;
          text-decoration: none;
          width: fit-content;
          background-color: whitesmoke;
          color: gray;
          border: 1px solid lightgray;
          border-radius: 10px;
          font-family: iransans;
          font-weight: normal;
          font-size: 15px;
          text-align: justify;
          padding: 2% 6% 2% 6%;
          margin: 3% 10%;
          line-height: 25px;
          transition: 300ms; }
          div.slider > div.slider-4 > div:nth-of-type(2) > div > a:hover {
            background-color: #d62222;
            color: white; }
