header{
    width: 100%;
    height: 160px;
    background-color: #2b2b2b;
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    position: fixed;
    >div.logo{
        width: 100%;
        height: 50%;
        margin-top: 20px;
        text-align: center;
        >a{
            width: 100%;
            height: inherit;
            display: block;
         >img{
            width:130px;
            height: 90px;
         }
        }
    }
    >nav{
        width: 100%;
        height: 50%;
        >#close , #open{
            display: none;
        }
        >ul{
            margin: 15px auto;
            display: flex;
            flex-grow: row wrap;
            justify-content: center;
            width: 94%;
            height: 100%;
            >li{
                &:not(:last-of-type){
                border-left: 1px solid gray;
                }
                width: 100%;
                height: 50%;
                &:hover>ul{
                        display: block;
                    }
                >ul{
                   width: calc(60% * 2);
                   height: auto;
                   display: none;
                   transition: 300ms;
                   >li{
                    width: inherit;
                    height: auto;
                    >a{
                        width: inherit;
                        height: auto;
                        line-height: 40px;
                        text-decoration: none;
                        font-family: iransans;
                        font-size: 14px;
                        font-weight: bold;
                        text-align: center;
                        color: gray;
                        display: block;
                        background-color: #3b3b3b;
                        transition: 300ms;
                    }    
                    &:hover>a{
                        color: var(--bg-w);
                    }
                   }
                }
                >a{
                    display: inline-block;
                    width: inherit;
                    height: 100%;
                    padding: 5px;
                    line-height: 40px;
                    text-decoration: none;
                    font-size: 14px;
                    font-family: iransans;
                    font-weight: bold;
                    text-align: center;
                    color: gray;
                    transition: 300ms;
                }
                &:hover>a{
                        color: var(--bg-w);
                    }
            } 
        }
    }
}